.container {
  display: flex;
  justify-content: center;

  .multiRulesCreaterContainer {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    border: 1px solid #e0e6ed;
    padding: 12px 13px;
    width: 900px;
    border-radius: 3px;
    .addBtn {
      align-self: flex-end;
      width: 100px;
    }
  }
}
