.conditionLine {
  display: flex;
  justify-content: space-around;
}
.rulesRelationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  border-left: 2px solid palevioletred;
  .relation {
    padding: 40px 10px;
  }
  .addInSameLayerBtn {
    align-self: flex-start;
  }
}
